*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main-sidebar .nav-link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link {
    padding: 12px;
    display: grid;
    grid-template-columns: max-content max-content;
    
}